.grid {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

table th,
td {
    border-bottom: 1px solid #bbbbbb;
    padding: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10.53%;
}

table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 0;
}

table thead tr th i {
    margin-right: -10px;
    margin-left: 9px;
    font-size: 14px;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:hover {
    background-color: #EBF4FF;
    cursor: default;
}

.checkbox {
    width: 17px;
    height: 17px;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #bbb;
    padding: 9px;
    border-radius: 3px;
    display: flex;
    margin-right: -10px;
    margin-left: 6px;
}

.checkbox:checked {
    background-color: #2FBE8E;
    border: none;
    /* border: 1px solid #adb8c0; */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); */
    /* color: #99a1a7; */
}

.checkbox:checked:after {
    content: '\2713';
    font-size: 13px;
    color: white;
    margin-left: 3px;
}


/* scroll */

.scroll-body {
    overflow-y: scroll;
    height: calc(100vh - 266px);
    width: calc(100% + 5px);
}

#scroll-thumb::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    background-color: #F5F5F5;
}

#scroll-thumb::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bbb;
}

#scroll-thumb::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

table {
    width: 100%;
    /* margin-bottom: 1rem;
    color: #212529; 
    table-layout: fixed;*/
}