/* quy dinh mac dinh cho button */

.button {
    height: 40px;
    border-radius: 4px;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    min-width: 75px;
}
.button:hover {
    background-color: #2FBE8E;
}

.button:active {
    background-color: #01B075;
}